* {
  box-sizing: border-box;
}


/* primary colour green: #00FF7F
secondry color purple: #DA70D6
text color:#F5FFFA*/

html {
   scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #F5FFFA;
}

header {
  text-align: center;
  background-color: #DA70D6;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  position: relative
}

.logoimg {
    max-width: 290px;
    height: auto;
    position: absolute;
    left 10px;
    top: 10px;

    /*
    display: block;
    margin: 0 auto;

    */
}




selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  color:#00FF7F;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color:#DA70D6;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
  margin: 0 auto;
  display: block;


}


a {
  color: #DA70D6;
  text-decoration: none; /* No underlining */
}


a:active { /* selected link */
  color: #DA70D6;
}
a:hover,
a:focus {
  color: #DA70D6;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color:transparent;
  color: #00FF7F; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover{
  background-color:#00FF7F;
  color:#000000;
}
.button {
  background-color:transparent;
  color: #00FF7F;
  text-transform: uppercase;
  border: 2px solid #00FF7F;
}
.button.contact:hover {
  background-color: #00FF7F;
  color: #000000;
}

selector {
  position: relative;
}

/* Layout styling */

.container {
  padding: 0 15px;
}


.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers text */
}



.txt-center {
     text-align: center;
}

/*
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  text-align: center;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

*/

nav > ul > li {
  display: inline-block;
}


.navtoggle li:not(:last-child) {
  display: none;
}


.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon, .navtoggle.responsive li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 30px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

.navtoggle.responsive li  {
  display: block;
}



.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #73bd80;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}





#hero {
  background-color: #ffe4c4;
}
#hero {
  text-align: center;
  background-color: #000000;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


main {
  padding-top: 133px;
}
  .list {
    text-align: center;
  }


.content {
    text-align: left;
    max-width: 600px;
    display: block;
    margin: auto;
}


.projectnav {
font-variant: small-caps;
     font-weight:900;
       font-size:35px;
        list-style-type: none;

}

.projectnav li a:hover {
    text-decoration: none
}
.projectnav li{
     color:#73bd80;
    list-style-type: none;


}
 .projectnav li .number {
  font-size:55px;
   opacity:.6;
     margin-right: -20px;

}
footer {
text-align: center;
}

footer .social  a svg {
height: 40px;
width: auto;
transition: .2s ease-in-out 0s;
}

footer .social svg:hover {
height: 40px; width: auto;
fill: #ffffff;
cursor: pointer;
transform: scale(1.25);
}

footer a.contact {
display: block;
width: 200px;
margin: 60px auto;

}









@media only screen and (min-width: 640px) {

    .row {
    margin: 0 0 60px 0;
}


     .container {
          max-width: 1200px;
         padding: 0 0;
          display: block;
         margin: 0 auto;
      }


    .col-md-6 {
    width: 50%;
     padding-right: 2%;


    }
    .col-md-6:last-child {
       padding-right: 0%;
        padding-left: 20px;
    }



        .col-lg-7 {
    width: 58.33%;


  }

  .col-lg-5 {
    width: 41.66%;

  }

    .col-lg-4 {
       width: 33%;
    }



  [class*="col-"] {
    float: left;
  }


        .container .row::after {
    content: "";
    clear: both;
    display: table;
  }

    /*
    nav > ul > li {
  display: inline-block;
  text-align: center;
        margin: 0 10px;
}

nav > ul > li {
  display: inline-block;
}
  */
    .navtoggle li:not(:last-child) {
  display: inline-block;
}

    .navtoggle li:last-child {
  display: none;
}


    nav > ul {
  list-style-type: none;
  padding: 0;
}

  .navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 0px solid transparent;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

}



  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }
  @keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-1 {
from {transform: translate(0,50px);}
to {transform: translate(400px,50px);}
}
@keyframes cloud-move-2 {
from {transform: translate(446px,48px);}
to {transform: translate(100px, 48px);}
}

.cloud-front {
animation-duration: 10s;
animation-name: cloud-move-1;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;

}
.cloud-back {
animation: 24s cloud-move-2 infinite alternate linear;

}



@media only screen and (min-width: 1024px) {

    header {
  background-color: #000000;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  position: relative
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.logoimg {
    max-width: 290px;
    height: auto;
    position: absolute;
    top: 10px;

    /*
    display: block;
    margin: 0 auto;

    */
}

    nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  text-align: center;

}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

}
